==
<!-- Third Section -->
<section id="recetas" class="main">
    <header class="major">
        <h2>Recetas</h2>
        <p>Aqui encontraras el mejor contenido saludable, tips, clases y audio-recetas <br />
            Veras la mejor calidad de contenido para que puedas llevar una vida 100% Saludable.</p>
    </header>
    <ul class="statistics">
        <li class="style1">
            <span class="icon fa-book"></span>
            <strong>520</strong> Recetas
        </li>
        <li class="style2">
            <span class="icon fa-video-camera"></span>
            <strong>892</strong> Video
        </li>
        <li class="style3">
            <span class="icon fa-headphones"></span>
            <strong>48</strong> Audios
        </li>
        <li class="style4">
            <span class="icon fa-credit-card"></span>
            <strong>4,096</strong> Compras
        </li>
        <li class="style5">
            <span class="icon fa-gift"></span>
            <strong>241</strong> Regalos
        </li>
    </ul>
</section>