==
<section id="productos" class="main">
    <header class="major">
        <h2>Productos</h2>
    </header>
    <ul class="features">
        <li>
            <span class="icon major style1 fa-cutlery"></span>
            <h3>Sabor insuperable</h3>
            <p>Te invitamos a probar nuestra variedad de productos orgánicos.</p>
        </li>
        <li>
            <span class="icon major style3 fa-smile-o"></span>
            <h3>Clientes Felices</h3>
            <p>Lo mas importante para nosotros es la satisfación total de nuestros clientes.</p>
        </li>
        <li>
            <span class="icon major style5 fa-diamond"></span>
            <h3>100% Orgánicos</h3>
            <p>Garantizamos el origen de nuestros productos 100% orgánicos.</p>
        </li>
    </ul>
</section>